<div class="container">
  <%=link_to "Retour", root_path, class:"btn btn-outline-secondary btn-back-user-profil"%>
  <div class="container">
    <div class="row all-cards justify-content-center">
      <div class="card user-details col-10">
        <div class="header">
          <h1>Mon profil</h1>
        </div>
        <ul>
          <li class="user-li"><%= @user.username %></li>
          <li class="user-li"><%= @user.email %></li>
        </ul>
      </div>
      <div class="all-pokemons row justify-content-around">
        <div class="card col-5 pokemons-user"><br>
          <div class="header">
            <h3>Mes pokémons</h3>
          </div>
          <div class="container">
            <% @user.pokemons.each do |pokemon| %>
            <li class="pokemon-li"><%= link_to pokemon.name, pokemon_path(pokemon), {style: 'color:#fecb03' } %></li>
            <% end %>
          </div>
        </div>
        <div class="col-5 pokemons-rent"><br>
          <h3>Les pokémons que je loue</h3>
           <div class= "reservation">

    <% @user.bookings.each do |booking| %>
    <%= booking.pokemon.name %>
    <%= booking.date %>
          <% end %>
    </div>
        </div>
      </div>
    </div>

  </div>
</div>
