<%if @pokemon.name == "Pikachu"%>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/7/76/Pikachu-DEPS.png/500px-Pikachu-DEPS.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Bulbizarre" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/e/ef/Bulbizarre-RFVF.png/500px-Bulbizarre-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Dracaufeu" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/1/17/Dracaufeu-RFVF.png?20141019190201", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Rondoudou" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/c/cd/Rondoudou-RFVF.png/500px-Rondoudou-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Psykokwak" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/4/44/Psykokwak-RFVF.png/500px-Psykokwak-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Goupix" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/f/f6/Goupix-RFVF.png/500px-Goupix-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Abo" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/5/56/Abo-RFVF.png/500px-Abo-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Abra" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/3/36/Abra-RFVF.png/500px-Abra-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Aéromite" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/0/0f/Aéromite-RFVF.png/500px-Aéromite-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Akwakwak" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/6/6e/Akwakwak-RFVF.png/500px-Akwakwak-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Alakazam" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/6/68/Alakazam-RFVF.png/500px-Alakazam-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Amonistar" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/f/f2/Amonistar-RFVF.png/500px-Amonistar-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Amonita" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/8/83/Amonita-RFVF.png/500px-Amonita-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Aquali" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/6/6b/Aquali-RFVF.png/500px-Aquali-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Arbok" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/7/7f/Arbok-RFVF.png/500px-Arbok-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Arcanin" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/7/7e/Arcanin-RFVF.png/500px-Arcanin-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Artikodin" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/b/bb/Artikodin-RFVF.png/500px-Artikodin-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Aspicot" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/9/9b/Aspicot-RFVF.png/500px-Aspicot-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Boustiflor" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/f/f5/Boustiflor-RFVF.png", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Canarticho" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/0/07/Canarticho-RFVF.png?20200407164613", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Caninos" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/e/e2/Caninos-RFVF.png/836px-Caninos-RFVF.png?20150109215422", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Carabaffe" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/2/2a/Carabaffe-RFVF.png?20200407160606", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Carapuce" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/c/cc/Carapuce-RFVF.png?20141016142207", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Chenipan" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/c/c7/Chenipan-RFVF.png?20200407160704", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Chétiflor" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/f/f9/Chétiflor-RFVF.png/1024px-Chétiflor-RFVF.png?20200407163443", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Chrysacier" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/6/6c/Chrysacier-RFVF.png?20200407160739", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Coconfort" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/b/b6/Coconfort-RFVF.png?20200407161008", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Colossinge" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/d/df/Colossinge-RFVF.png?20200407162727", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Crustabri" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/8/84/Crustabri-RFVF.png/1257px-Crustabri-RFVF.png?20160813171342", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Dardagnan" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/thumb/e/ee/Dardargnan-RFVF.png/994px-Dardargnan-RFVF.png?20141019194035", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Dodrio" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/2/2e/Dodrio-RFVF.png?20200407164705", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Doduo" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/2/2a/Doduo-RFVF.png?20200407164652", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Draco" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/d/d1/Draco-RFVF.png?20200407174949", height: '400' %>
    </div>
    <%elsif @pokemon.name == "Dracolosse" %>
    <div class = col-4>
      <%= image_tag  "https://www.pokepedia.fr/images/8/87/Dracolosse-RFVF.png?20200407175010", height: '400' %>
    </div>
<%end%>
