<%if @pokemon.name == "Pikachu"%>
<li>Catégorie : <%= "Electrik" %></li>
<%elsif @pokemon.name == "Abo"%>
<li>Catégorie : <%= "Poison" %></li>
<%elsif @pokemon.name == "Abra"%>
<li>Catégorie : <%= "Psy" %></li>
<%elsif @pokemon.name == "Aéromite"%>
<li>Catégorie : <%= "Insecte" %></li>
<%elsif @pokemon.name == "Akwakwak"%>
<li>Catégorie : <%= "Eau" %></li>
<%elsif @pokemon.name == "Alakazam"%>
<li>Catégorie : <%= "Psy" %></li>
<%elsif @pokemon.name == "Amonistar"%>
<li>Catégorie : <%= "Insecte" %></li>
<%elsif @pokemon.name == "Amonita"%>
<li>Catégorie : <%= "Eau" %></li>
<%elsif @pokemon.name == "Aquali"%>
<li>Catégorie : <%= "Eau" %></li>
<%elsif @pokemon.name == "Arbok"%>
<li>Catégorie : <%= "Poison" %></li>
<%elsif @pokemon.name == "Arcanin"%>
<li>Catégorie : <%= "Feu" %></li>
<%elsif @pokemon.name == "Artikodin"%>
<li>Catégorie : <%= "Glace" %></li>
<%elsif @pokemon.name == "Aspicot"%>
<li>Catégorie : <%= "Insecte" %></li>
<%elsif @pokemon.name == "Boustiflor"%>
<li>Catégorie : <%= "Plante" %></li>
<%elsif @pokemon.name == "Bulbizarre"%>
<li>Catégorie : <%= "Plante" %></li>
<%elsif @pokemon.name == "Dracaufeu"%>
<li>Catégorie : <%= "Feu" %></li>
<%elsif @pokemon.name == "Rondoudou"%>
<li>Catégorie : <%= "Normal" %></li>
<%elsif @pokemon.name == "Goupix"%>
<li>Catégorie : <%= "Feu" %></li>
<%elsif @pokemon.name == "Psykokwak"%>
<li>Catégorie : <%= "Eau" %></li>

<%end%>
