<div class="banner">

<div class = "container ">
<div class = "text-center">
<h1>Pokemachine</h1>
<h2>A défaut de les attraper, louez les tous!</h2>
</div>
<br>
<%=link_to "Ajouter un Pokemon", new_pokemon_path, class:"btn btn-dark mb-4"%>
<br>
<div class = "d-flex ">
  <% @pokemons.each do |pokemon| %>
  <br>
<div class="card m-3 rounded border border-secondary" style="width: 18rem;">
  <img src="https://www.123-stickers.com/7675-large_default/autocollant-dracaufeu-pokemon-006.jpg" class="card-img-top" alt=<%= pokemon.name %>>
  <div class="card-body">
    <h5 class="card-title"><%= pokemon.name %></h5>
    <ul class="card-text">
    <li>level: <%= pokemon.level %></li>
    <li>price: <%= pokemon.price %></li>
    <li>category: <%= pokemon.category %></li>
    <%=link_to "come on", pokemon_path(pokemon), class:"btn btn-success" %>
    </ul>
  </div>
</div>
  <% end %>
</div>
</div>
</div>
