<h1>Pokemachine</h1>
<h2>A défault de les attraper, louez les tous!</h2>
<br>
<h1>Et voici nos magnifiques pokemons</h1>

<%=link_to "Ajouter un Pokemon", new_pokemon_path%>

<ul>
  <% @pokemons.each do |pokemon| %>
  <br>
  <li>Name: <%= pokemon.name %></li>
  <li>level: <%= pokemon.level %></li>
  <li>Propriétaire: <%= pokemon.user.username %></li>
  <%=link_to "viens voir de plus près toi!", pokemon_path(pokemon)%>
  <% end %>
</ul>
