<div class="banner">

  <div class="container ">
    <div class="text-center">
      <h1 class="pokemon-font">Pokemachine</h1>
      <h2 class="pokemon-font">A défaut de les attraper, louez les tous!</h2>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <%=link_to "Ajouter un Pokemon", new_pokemon_path, class:"btn btn-outline-secondary d-flex align-items-center"%>
      <div class="d-flex col-sm-3 my-3 search_bar">
        <%= form_with url: pokemons_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Nom d'un pokémon"
            %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <% @pokemons.each do |pokemon| %>
      <br>
      <div class="card m-3 rounded border border-secondary" style="width: 18rem;">
        <%if pokemon.name == "Pikachu" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/7/76/Pikachu-DEPS.png/500px-Pikachu-DEPS.png" ,
          class="card-img-top" alt=<%= pokemon.name %>>
        <%elsif pokemon.name == "Dracaufeu" %>
        <img class="pokemon-picture-index" src="https://www.pokepedia.fr/images/1/17/Dracaufeu-RFVF.png?20141019190201"
          class="card-img-top" alt=<%= pokemon.name %>>
        <%elsif pokemon.name == "Psykokwak" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/4/44/Psykokwak-RFVF.png/500px-Psykokwak-RFVF.png"
          class="card-img-top" alt=<%= pokemon.name %>>
        <%elsif pokemon.name == "Goupix" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/f/f6/Goupix-RFVF.png/500px-Goupix-RFVF.png" class="card-img-top"
          alt=<%= pokemon.name %>>
        <%elsif pokemon.name == "Rondoudou" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/c/cd/Rondoudou-RFVF.png/500px-Rondoudou-RFVF.png"
          class="card-img-top" alt=<%= pokemon.name %>>
        <%elsif pokemon.name == "Bulbizarre" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/e/ef/Bulbizarre-RFVF.png/500px-Bulbizarre-RFVF.png"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Abo" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/5/56/Abo-RFVF.png?20200407161300"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Abra" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/3/36/Abra-RFVF.png?20200407163057"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Aéromite" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/0/0f/Aéromite-RFVF.png?20200407162325"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Akwakwak" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/6/6e/Akwakwak-RFVF.png/1220px-Akwakwak-RFVF.png?20150109220818"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Alakazam" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/6/68/Alakazam-RFVF.png?20200407175447"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Amonistar" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/f/f2/Amonistar-RFVF.png?20200407174740"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Amonita" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/8/83/Amonita-RFVF.png?20200407174723"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Aquali" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/6/6b/Aquali-RFVF.png/1093px-Aquali-RFVF.png?20200407174455"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Arbok" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/7/7f/Arbok-RFVF.png?20200407161332"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Arcanin" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/7/7e/Arcanin-RFVF.png/1278px-Arcanin-RFVF.png?20150109221603"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Artikodin" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/thumb/b/bb/Artikodin-RFVF.png/1058px-Artikodin-RFVF.png?20160813171115"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Aspicot" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/9/9b/Aspicot-RFVF.png?20200407160910"
          class="card-img-top" alt=<%= pokemon.name %>>
          <%elsif pokemon.name == "Boustiflor" %>
        <img class="pokemon-picture-index"
          src="https://www.pokepedia.fr/images/f/f5/Boustiflor-RFVF.png?20200407163456"
          class="card-img-top" alt=<%= pokemon.name %>>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name %></h5>
          <div class="infopokemon">Niveau : <%= pokemon.level %></div>
          <div class="infopokemon">Prix : <%= pokemon.price %>€</div>
          <%=link_to "Détails", pokemon_path(pokemon), class:"btn btn-outline-info" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
