<div class = "container p-4" >
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, label: 'Nom du Pokemon', collection: Pokemon::POKEMONS %>
  <%= f.input :level, label: 'Niveau' %>
  <%= f.input :price, label: 'Prix' %>
  <%= f.input :address, Placeholder: '36 rue des potiers' %>
  <%= f.button :submit %>
<% end %>
</div>
