<div class = "container ">
<%=link_to "Retour", root_path, class:"btn btn-outline-secondary"%>
  <div class = "show-card-pokemon d-flex  align-items-center justify-content-around">
    <%= render "conditionurl" %>
    <div class = "text-center pokemon-info" >
        <div class = username><h5><%= @user.username %></h5></div>
        <div class = pokemon-name><h1><%= @pokemon.name %></h1></div>
      <div class = info>
        <li>Niveau : <%= @pokemon.level %></li>
        <%= render "conditioncat" %>
        <li>Lieu : <%= @pokemon.address %></li>
        <li>Prix : <%= @pokemon.price %>€</li>
      </div>
      <%= link_to "Réserver ce pokemon",  new_pokemon_booking_path(@pokemon), class:"btn btn-outline-info" %>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div>
    <%if @user== current_user%>
    <%= link_to "supprimer ce Pokemon", pokemon_path(@pokemon), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-danger"%>
    <%else%>
    <%end%>
  </div>
</div>
